%p#notice.text-center= notice
.container
  .d-inline-block
    %h1 Editing screening
  %hr/
  = render 'form', screening: @screening
  %hr/
  = link_to 'Show', @screening
  |
  = link_to 'Back', screenings_path
