<p id="notice" class="text-center"><%= notice %></p>

<div class="container">
<div class="d-inline-block">
<h1>Editing screening</h1>
</div>
<hr />

<%= render 'form', screening: @screening %>

 <hr />

<%= link_to 'Show', @screening  %> |
<%= link_to 'Back', screenings_path %>

</div>
