%h1 "A story should have a beginning, a middle and an end, but not necessarily in that order"
%h1{align: "right"} Jean-Luc Godard
.godard
  %img{src: "https://i.pinimg.com/originals/64/24/11/6424116b509b04dcf0ed71e797c04dde.gif"}/
