<p id="notice" class="text-center"><%= notice %></p>

<div class="container">
<div class="d-inline-block">
<h1>New Customer</h1>
</div>
<hr />

<%= render 'form', customer: @customer %>
 <hr />

<%= link_to 'Back', customers_path %>

</div>
