<p id="notice" class="text-center"><%= notice %></p>

<div class="container">
<div class="d-inline-block">
<h1>Editing Film</h1>
</div>
<hr />

<%= render 'form', film: @film %>
 <hr />

<%= link_to 'Show', @film  %> |
<%= link_to 'Back', films_path %>
</div>
