// Place all the styles related to the films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.image

img {
     padding:1px;
     border:20px solid white;
     background-color:white;
     width: 200px;
     height: auto;
}
